.profile-container{
    justify-content: center;
    text-align: center;
    h1{
        color: rgb(136, 93, 238);;
    }
    h2{
        color: rgb(136, 93, 238);;
    }
    img{
        border-radius: 50%;
        border: 1px solid black;
    }
}